
sorry {
	is-sorry: true;
	didnt-sleep-enough-last-night: true;
	should-have-practiced-github-instead-of-playing-Street-Fighter-all-day: !SI!
	dont-take-it-too-seriously==life-in-general;
}

body {
	bg-colores-y-perros-pequenos-y-amigos-y-mucho-mas-mi-amigo: ligghtgey;
}

pinche computadora {
	badword: true; !important
	dontuse: probablyagoodidea;
	justajokesorryimdumb: true; !important
}

a la maquina {
	machine: si;
	is-it-from-the-machine: por su puesto;
	is-it-fun-to-say: si;
}

h10 {
	color:::purpl !important


0h20
 {{
woops: black;
}}
	colores:"rojos,azules''; !important
}

h3 {
	colores:nocoloresaquisenor;
}
